<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/loaimathang-layout">
<head>
	<meta charset="UTF-8"/>
    <title>Danh sách các loại mặt hàng</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
	<script th:src="@{/js/loaimathang.js}" charset="utf-8"></script>
</head>
<body>
	<section layout:fragment="content-loai-mat-hang">
		<div class="row">
			<div class="col-sm-8">
				<h3>DANH SÁCH LOẠI MẶT HÀNG</h3>
				<hr/>
				<div class="table-responsive tbl-scrol">
					<table id="tbl-loaihanghoa" class="table">
						<thead>
							<tr>
								<th class="">#</th>
								<th class="col-sm-2">Mã loại</th>
								<th class="col-sm-4">Tên loại</th>
								<th class="col-sm-6">Mô tả</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="loaiMH, int : ${loaiMHs}" th:id="${loaiMH.id}"
								class="clickable">
								<td class="" th:text="${int.index + 1}"></td>
								<td class="col-sm-2" th:text="${loaiMH.maLoai}"></td>
								<td class="col-sm-4" th:text="${loaiMH.tenLoai}"></td>
								<td class="col-sm-6" th:if="${loaiMH.moTa} == ''"><i>Không có mô tả</i></td>
								<td class="col-sm-6" th:if="${loaiMH.moTa} != ''" th:text="${loaiMH.moTa}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-4">
				<h3>THÊM/CẬP NHẬT</h3>
				<hr/>
				<div class="container-fluid">
					<form th:action="@{/loai-mat-hang/update}" class="form-horizontal"
						  th:method="post" th:object="${loaiMHNew}">
						<div class="form-group">
							<label for="idLoaiMatHang">Id:</label>
							<input type="text" class="form-control" id="idLoaiMatHang" readonly="readonly"
								   name="idLoaiMatHang"/>
						</div>
						<div class="form-group">
							<label for="maLoai">Mã Loại: <span class="required">(*)</span></label>
							<input type="text" class="form-control" id="maLoai" required="required"
								   th:field="*{maLoai}"/>
						</div>
						<div class="form-group">
							<label for="tenLoai">Tên loại: <span class="required">(*)</span></label>
							<input type="text" class="form-control" id="tenLoai" required="required"
								   th:field="*{tenLoai}"/>
						</div>
						<div class="form-group">
							<label for="moTa">Mô tả:</label>
							<textarea name="moTa" id="moTa" rows="4" class="form-control"
									  th:field="*{moTa}"></textarea>
						</div>
						<div class="form-group text-right">
							<button type="submit" class="btn btn-primary" id="btnUpdate">Cập nhật</button>
							<button type="reset" class="btn btn-success" id="btnReset">Làm mới</button>
							<a th:href="@{/loai-mat-hang/delete}" class="btn btn-danger" id="btnDelete">Xóa</a>
						</div>
					</form>
				</div>
			</div>
		</div>

	</section>
</body>
</html>
