<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/main-layout-v1">
<head>
	<meta charset="UTF-8"/>
    <title>Danh sách các loại mặt hàng</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>
	<h1 layout:fragment="header">
		QUẢN LÝ LOẠI MẶT HÀNG
	</h1>
	
	<ol layout:fragment="link">
		<li>
            <a th:href="@{/list-product-type}">
            	<i class="glyphicon glyphicon-barcode"></i> Quản lý loại mặt hàng
            </a>
        </li>
	</ol>

	<section layout:fragment="content">
		<div class="panel panel-primary">
		  	<div class="panel-heading">DANH SÁCH MẶT HÀNG</div>
		  	<div class="panel-body">
		  		<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="">#</th>
								<th class="col-sm-1">Mã loại</th>
								<th class="col-sm-3">Tên loại</th>
								<th class="col-sm-6">Mô tả</th>
								<th class="col-sm-2">Công cụ</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="loaiMH, int : ${loaiMHs}" th:id="${loaiMH.maLoai}"
								class="clickable">
								<td class="" th:text="${int.index + 1}"></td>
								<td class="col-sm-1" th:text="${loaiMH.maLoai}"></td>
								<td class="col-sm-3" th:text="${loaiMH.tenLoai}"></td>
								<td class="col-sm-6" th:if="${loaiMH.moTa} == ''">(Không có mô tả)</td>
								<td class="col-sm-6" th:if="${loaiMH.moTa} != ''" th:text="${loaiMH.moTa}"></td>
								<td class="col-sm-2">
									<a>Sửa</a> -
									<a>Xóa</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="form-group col-md-2">
						<select class="form-control pagination" id="pageSizeSelect">
							<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" 
									th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}">
							</option>
						</select>
					</div>
					<div th:if="${loaiMHs.totalPages != 1}" 
						 class="form-group col-md-10 pagination-centered text-align-right">
						<ul class="pagination">
							<li th:class="${loaiMHs.number == 0} ? disabled">
								<a class="pageLink" th:href="@{/list-product-type?(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
							</li>
							<li th:class="${loaiMHs.number == 0} ? disabled">
								<a class="pageLink" th:href="@{/list-product-type?(pageSize=${selectedPageSize}, page=${loaiMHs.number})}">&larr;</a>
							</li>
							<li th:class="${loaiMHs.number == (page - 1)} ? 'active pointer-disabled'"
								th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
								<a class="pageLink" th:href="@{/list-product-type?(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
							</li>
							<li th:class="${loaiMHs.number + 1 == loaiMHs.totalPages} ? disabled">
								<a class="pageLink" th:href="@{/list-product-type?(pageSize=${selectedPageSize}, page=${loaiMHs.number + 2})}">&rarr;</a>
							</li>
							<li th:class="${loaiMHs.number + 1 == loaiMHs.totalPages} ? disabled">
								<a class="pageLink" th:href="@{/list-product-type?(pageSize=${selectedPageSize}, page=${loaiMHs.totalPages})}">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
		  	</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-success">
				  	<div class="panel-heading">THÊM/CẬP NHẬT</div>
				  	<div class="panel-body">
				  		<div class="container-fluid">
							<form th:action="@{/update-product-type}" class="form-horizontal"
								  th:method="post" th:object="${loaiMHNew}">
								<div class="form-group">
									<label for="maLoai">Mã Loại: <span class="required">(*)</span></label>
									<input type="text" class="form-control" id="maLoai" required="required"
										   th:field="*{maLoai}" placeholder="Mã loại gồm 4-6 ký tự"/>
								</div>
								<div class="form-group">
									<label for="tenLoai">Tên loại: <span class="required">(*)</span></label>
									<input type="text" class="form-control" id="tenLoai" required="required"
										   th:field="*{tenLoai}"/>
								</div>
								<div class="form-group">
									<label for="moTa">Mô tả:</label>
									<textarea name="moTa" id="moTa" rows="4" class="form-control"
											  th:field="*{moTa}"></textarea>
								</div>
								<div class="form-group text-right">
									<button type="submit" class="btn btn-primary" id="btnUpdate">Cập nhật</button>
									<button type="reset" class="btn btn-success" id="btnReset">Làm mới</button>
									<a th:href="@{/delete-product-type}" class="btn btn-danger" id="btnDelete">Xóa</a>
								</div>
							</form>
						</div>
				  	</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-warning">
				  	<div class="panel-heading">CHÚ THÍCH</div>
				  	<div class="panel-body">
				  		Text here
				  	</div>
				</div>
			</div>
		</div>
	</section>
	
	<script th:src="@{/js/loaimathang.js}" charset="utf-8"></script>
</body>
</html>
