<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Mykong example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<script src="/webjars/jquery/1.11.1/jquery.min.js" charset="utf-8"></script>
</head>
<body onload="x()">

	<!-- MENU BAR -->
	<th:block th:include="fragments/header :: menu"></th:block>

	<!-- CONTAINER -->
	<div class="container">

		<div>
			<h1>Spring Boot Web Thymeleaf Example</h1>
			<h2>
				<span th:text="'Message: ' + ${message}"></span>
			</h2>
		</div>

	</div>

</body>
</html>
